
Body {
    
    color: #777;
   background: #777;
    width: 960px ;
    font-size: 18px;
}

h1{
    font-family:'Arial';
    text-align: center;
    background: #ebebeb;
    color: #777;
    padding:30px 15px;
     margin-left: 100px;
     
}
#article{
    color:  #ebebeb;
     background:#777;
     padding: 70px 100px;
     overflow: hidden;
     width: 150px;
     height: 200px;
     margin: -340px 90px;
     
     

}
     #p {
        color: #777;
        background:#ebebeb;
        padding: 10px 30px;
        font-family: 'sans-serif';
        width: 150px;
     }
.section {
    color:  #777;
    background:#ebebeb;
    padding: 150px 150px;
    width:200px;
    height: 90px;
    margin:26px 35px;
    
    

    
}
.nav {
    color:  #777;
    background:#ebebeb;
    padding: 40px;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 100px;
}

#aside {  
    color:  #777;
    background:#ebebeb;
    padding: 150px 150px;
    bottom: -5px;
     position: absolute;
    right: 450px;
    margin:255px;
   margin-top: -300px;
   width:110px; 
}
#h {  color:  #777;
    background:#ebebeb;
    
    padding: 5% 10%;
    left: 30px;
    width: 50px;
       
}

#footer {
    color:  #777;
    background:#ebebeb;
    padding: 40px;
    margin: 70px 40px;
    margin-top: 15px;
   
   
}



    
